---
import CustomButton from "../CustomButton.astro";
---

{import.meta.env.DEV && (
  <div class="fixed bottom-5 end-5 z-50 flex flex-col gap-2">
    <a
      href="https://getastrothemes.com/product/folex-astro-agency-portfolio-theme/"
      class="btn-primary"
      label="Buy PRO Version"
    >Buy PRO Version</a>
    <a href="https://getastrothemes.com/" class="btn-primary" label="Download Now"
      >Download Now</a
    >
  </div>
)}
